[[source]]
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true
name = "pypi"

[packages]
"web.py" = {git = "https://github.com/webpy/webpy.git"}
gitpython = "*"

[dev-packages]
ipython = "*"
ipdb = "*"
jupyter = "*"
jupyterlab = "*"

[requires]
python_version = "3.6"
