[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"web.py" = "==0.40-dev1"
gitpython = "*"

[dev-packages]
ipython = "*"
ipdb = "*"

[requires]
python_version = "3.6"
