$def with (message, status, data)
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>WebHook自动化处理系统</title>
</head>
<body bgcolor="white">
    <center>
        <h1>WebHook自动化处理系统</h1>
        $if message:
            <p>$message</p>
        $else:
            <p>这是一个基于web.py和uwsgi以及nginx开发的WebHook自动部署系统。</p>

        $if status:
            $if status['stat'] == 0:
                <p style="color:red;">未收到WebHook同步请求</p>
            $elif status['stat'] == 1:
                <p style="color:red;">WebHook同步正在进行中</p>
            $else:
                <p style="color:red;">WebHook同步完成，上次同步时间：$status['time']</p>
    </center>

    $if data:
        <details>
            <summary style="color:red;">调试信息：</summary>
            <p style="color:blue;">$data</p>
        </details>
    <hr>
    <center>&copy; SHLLL 2018</center>
</body>
</html>
